nav{
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  text-align:center;
}

nav ul{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #0a0a0a;
}

nav li{
  font-family: Futura,Arial,Trebuchet MS,Arial,sans-serif;
  display:inline-block;
  padding: 15px 15px;
}

nav a{
  color: white;
  padding:10px;
  text-align: center;
  text-decoration: none;
}

nav a:hover{
  background-color: white;
  color: black;
}

body{
  font-family: Arial,Futura,Trebuchet MS,Arial,sans-serif;
  color: black;
  background-color: #0a0a0a;
}


h1{ 
  font-family: Didot,Futura,Arial,Trebuchet MS,Arial,sans-serif;
  color: white;
  font-size: 7rem;
  font-style: normal;
  font-variant: normal; 
  font-weight: 300; 
  line-height: 36px;
  text-align: center;
} 


h2{
  font-family: Didot,Times New Roman,serif; 
  font-size: 6rem; 
  font-weight: normal;
  font-style: normal;
  color: white;
  text-align: center;
  margin:20px;

}

h3{
  font-family: Didot,Arial,Trebuchet MS,Arial,sans-serif;
  font-size: 5rem; 
  font-weight: 300;
  font-style: normal;
  color: white;
  text-align: center;
  margin:20px;
}

h4{
  font-family: Palatino,Didot,Times New Roman,serif; 
  font-size: 4rem; 
  font-weight: normal;
  font-style: normal;
  color: white;
  text-align: center;
  margin:20px;
}

h5{
  font-family: Palatino,Didot,Times New Roman,serif; 
  font-size: 3rem; 
  font-weight: normal;
  font-style: normal;
  color: white;
  text-align: center;
  margin:20px;
}

p{
  font-family: Palatino,Didot,Times New Roman,serif; 
  font-size: 2rem; 
  color: white;
  text-align: center;
  margin:30px;

}

ul{
  display: table;
  margin:0 auto;
}

li{
  font-family: Palatino,Didot,Times New Roman,serif; 
  color: white;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 315px;
  border: 0px;
  border-width:0px;
}

div {
  border: 1px solid white;
}

